<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix</title>
    <link rel="stylesheet" href="../styles/resets.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/login.css">
    <script src="../javascript/login.js"></script>
</head>
<body>
    <header>
        <h1>
            <a class="title" href="index.html"> Trackgenix</a>
        </h1>
    </header>
    <main>
        <img class="image-principal" src="../assets/login-img.png" alt="">
        <form class="form-signin">
            <h2>Sign In</h2>
            <fieldset class="enter-data">
                <input id="email-enter" type="text" name="email" placeholder="Email">
            </fieldset>
            <fieldset class="enter-data">
                <input id="password-enter" type="password" name="password2" placeholder="Password">
            </fieldset>
            <fieldset>
                <button id="button-form" type="submit">Login</button>
            </fieldset>
            <section class="check-data">
                <label for="">
                    <input type="checkbox" class="box"> Remember me.
                </label>
               <a href=""> Forgot your password?</a>
            </section>
            <section class="link-singup">
                <p class="sign-up">New to Trackgenix?<a class="redirect" href="./sign-up.html"> Sign up now</a>.</p>
            </section>
        </form>
    </main>
</body>
</html>