<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix</title>
    <link rel="stylesheet" href="../styles/resets.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <script src="../javascript/sign-up.js"></script>
</head>
<body>
    <header>
        <h1>
            <a class="title" href="index.html"> Trackgenix</a>
        </h1>
    </header>
    <main>
        <img class="image-principal" src="../assets/Signup.jpg" alt="">
        <form class="form-signin">
            <h2>Sign up</h2>
            <fieldset class="input-name">
                <input id="first-name" type="text" placeholder="First name">
                <input id="last-name" type="text" placeholder="Last name">
            </fieldset>
            <fieldset class="input-name">
                <input id="input-dni" type="text" name="Email" placeholder="DNI">
                <input id="date-of-birth" type="date" placeholder="Date of Birth">
            </fieldset>
            <fieldset class="input-name">
                <input id="input-phone" type="text" placeholder="Phone">
                <input id="input-adress" type="text" placeholder="Adress">
            </fieldset>
            <fieldset class="input-name">
                <input id="input-location" type="text" placeholder="Location">
                <input id="input-postal" type="text" placeholder="Postal code">
            </fieldset>
            <fieldset class="input-name">
                <input id="input-email" type="text" placeholder="Email">
            </fieldset>
            <fieldset class="input-name">
                <input id="input-password" type="password" placeholder="Password">
                <input id="input-repeat" type="password" placeholder="Repeat password">
            </fieldset>
            <fieldset>
                <button id="button-form">Sign Up</button>
            </fieldset>
            <section class="check-data">
                <label for="">
                    <input type="checkbox" class="box"> Remember me. 
                </label>
                <p>Forgot your password?</p>
            </section>
            <section class="link-login">
                <p class="login-now">Do you already have an account?<a class="redirect" href="./login1.html"> Login now</a>.</p>
            </section>
        </form>
    </main>
</body>
</html>