aside{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #707070;
    color: black;
    display: none;
}
.pingo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #707070;
    color: black;
    margin: 10px;
}
a{
    color: white;
    text-decoration: none;
    line-height: 2;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background-color: #707070;
    color: white;
    margin: 10px;
}
.contact h4{
    font-weight: 700;
    text-align: center;
    margin: 10px;
}